<div class="gridConfig" id="gridWidget_${id}" data-dojo-type="dijit/Toolbar">
    <button data-dojo-type="dijit/form/ToggleButton" data-dojo-props="iconClass:'dijitDisabled dijitEditorIcon dijitEditorIconSelectAll', checked: true, showLabel: false"
        data-dojo-attach-point="toggleButton">
        ${toggleLabel}
    </button>
    <button data-dojo-type="dijit/form/Button" data-dojo-props="iconClass:'eFapsMenuIcon eFapsMenuIconReload', showLabel: false"
        data-dojo-attach-point="reloadButton" type="button">
        ${reloadLabel}
    </button>
    <div data-dojo-type="dijit/form/DropDownButton" data-dojo-props="iconClass:'dijitEditorIcon dijitEditorIconPrint', showLabel: false" data-dojo-attach-point="printDropDown" >
        ${printDropDownLabel}
        <div data-dojo-type="dijit/Menu" data-dojo-attach-point="printMenu"></div>
    </div>
    <div data-dojo-type="dijit/form/DropDownButton" data-dojo-attach-point="dropDownButton">
        <span>${buttonLabel}</span>
        <div data-dojo-type="dijit/Menu" data-dojo-attach-point="menu"></div>
    </div>
</div>
