<div class="dijit" role="toolbar" tabIndex="${tabIndex}" data-dojo-attach-point="containerNode">
    <button data-dojo-type="dijit/form/ToggleButton" data-dojo-props="iconClass:'dijitDisabled dijitEditorIcon dijitEditorIconSelectAll', checked: true, showLabel: false"
        data-dojo-attach-point="wrapButton">
        ${nls.confWrap}
    </button>
    <button data-dojo-type="dijit/form/Button" data-dojo-props="iconClass:'eFapsMenuIcon eFapsMenuIconReload', showLabel: false"
        data-dojo-attach-point="reloadButton" type="button">
        ${nls.confReload}
    </button>
    <div data-dojo-type="dijit/form/DropDownButton" data-dojo-props="iconClass:'dijitEditorIcon dijitEditorIconPrint', showLabel: false" data-dojo-attach-point="printDropDown" >
        ${nls.confPrint}
        <div data-dojo-type="dijit/Menu" data-dojo-attach-point="printMenu"></div>
    </div>
    <div data-dojo-type="dijit/form/DropDownButton" data-dojo-props="iconClass:'eFapsMenuIcon eFapsMenuIconColumns', showLabel: false" data-dojo-attach-point="dropDownButton">
        <span>${nls.confColumns}</span>
        <div data-dojo-type="dijit/Menu" data-dojo-attach-point="menu"></div>
    </div>
</div>
